.header {
    background-image: url('/background-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 86px;
    width: 1180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: black;
    position: fixed;
    top: 0;
    left: 50%; /* Змінюємо відступ зліва на 50% */
    transform: translateX(-50%); /* Центруємо хедер */
}
  
.header h1 {
    color: black;
    margin: 0;
    font-size: 28px;
    line-height: 28px;
}
  
.header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}
  
.header nav li {
    margin-right: 70px;
}
  
.header nav li a {
    color: black; /* Змінюємо колір посилань на чорний */
    text-decoration: none; /* Видаляємо підкреслення */
}
  
.header nav li:last-child {
    margin-right: 0;
}
  
.header button {
    width: 180px;
    height: 42px;
    background-color: transparent; /* Робимо фон кнопки прозорим */
    border: 1px solid black; /* Додаємо чорну обводку */
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0;
    color: black; /* Додаємо чорний колір тексту */
}


.main-block {
    /* Забираємо вирівнювання по центру для всього блоку */
    width: 650px; /* Залишаємо задану ширину */
    /* height: auto; !* Висота буде залежати від вмісту *! */
    margin-top: 200px; /* Невеликий відступ після хедера */
    margin-left: 200px; /* Залишаємо лівий відступ */
    text-align: left; /* Вирівнюємо текст всередині блоку по лівому краю */
}

  
.main-block h2 {
    font-size: 48px; /* Залишаємо заданий розмір */
    margin-bottom: 20px; /* Зменшуємо відступ між заголовком та підзаголовком */
    line-height: 1.2; /* Додаємо міжрядковий інтервал для кращого вигляду багаторядкового тексту */
}
  
.main-block p {
    margin-top: 0;
    margin-bottom: 50px;
    width: 446px; /* Залишаємо задану ширину */
    text-align: right; /* Вирівнюємо текст підзаголовка по центру */
    margin-left: auto; /* Центруємо блок підзаголовка по горизонталі */
    margin-right: auto; /* Центруємо блок підзаголовка по горизонталі */
    font-size: 24px;
    line-height: 1.5;
}
  
.main-block button {
    width: 215px; /* Залишаємо задану ширину */
    height: 60px; /* Залишаємо задану висоту */
    background-color: #92C5DB;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 30px; /* Додаємо відступ зверху від тексту */
    color: black; /* Залишаємо чорний колір тексту */
    font-size: 24px; /* Залишаємо заданий розмір шрифту */
    text-align: center; /* Вирівнюємо текст кнопки по центру */
    margin-left: auto; /* Центруємо кнопку по горизонталі */
    margin-right: auto; /* Центруємо кнопку по горизонталі */
    display: block; /* Робимо кнопку блоковим елементом для роботи auto margin */
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; /* Займає праву половину контейнера */
    height: 100%;
    background-image: url('/main.jpg'); /* Замініть на ваш шлях */
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain; /* Або cover, auto */
    z-index: -1; /* Позаду основного контенту */
  }

